Furkan Bulut 210316011

In [16]:
import pandas as pd

# Dosyayı yükleme
file_path = 'C:/Users/FurkanBulut/Desktop/data.xlsx'
data = pd.read_excel(file_path) 

# İlk beş satırı göster
data.head()

,No,Tarih,TP DK USD S YTL,TP DK EUR S YTL,TP DK GBP S YTL,TP DK SEK S YTL,TP DK CHF S YTL,TP DK CAD S YTL,TP DK KWD S YTL,TP DK SAR S YTL
0,1,03-01-2005,1.3427,1.8321,2.5928,0.20307,1.1872,1.1152,4.5548,0.35800
1,2,04-01-2005,1.3448,1.8192,2.5695,0.20226,1.1785,1.1147,4.6052,0.35858
2,3,05-01-2005,1.3492,1.8063,2.5586,0.19989,1.1677,1.1120,4.6202,0.35977
3,4,06-01-2005,1.3841,1.8337,2.5985,0.20251,1.1807,1.1277,4.7401,0.36907
4,5,07-01-2005,1.4068,1.8549,2.6347,0.20532,1.1961,1.1433,4.8175,0.37513

In [17]:
# 4512. kaydın giriş özellikleri
input_features_4512 = data.iloc[4511, :-1]  # -1, çıkış özelliği hariç tüm sütunları alır
print("4512. kaydın INPUT features:\n", input_features_4512)

# 4512. kaydın çıkış özelliği
output_feature_4512 = data.iloc[4511, -1]  # Son sütunu alır, çıkış özelliği
print("4512. kaydın OUTPUT feature:\n", output_feature_4512)

4512. kaydın INPUT features:
 No                       4512
Tarih              09-12-2022
TP DK USD S YTL       18.6538
TP DK EUR S YTL       19.6117
TP DK GBP S YTL       22.7665
TP DK SEK S YTL        1.8047
TP DK CHF S YTL       19.8645
TP DK CAD S YTL       13.6739
TP DK KWD S YTL       61.1098
Name: 4511, dtype: object
4512. kaydın OUTPUT feature:
 4.9603

In [18]:
def cost_function(y_true, y_pred):
    # Mean Squared Error as a simple example
    return ((y_true - y_pred) ** 2).mean()

# Test the cost function
y_true_example = df.iloc[:, -1]
y_pred_example = model.predict(X)  # Assuming you have a model
print("Cost/Loss:", cost_function(y_true_example, y_pred_example))

NameError: name 'df' is not defined

In [19]:
def cost_derivative(y_true, y_pred):
    # Derivative of Mean Squared Error
    return 2 * (y_pred - y_true) / len(y_true)

# Test the derivative function
print("Derivative of Cost/Loss:", cost_derivative(y_true_example, y_pred_example))

NameError: name 'y_true_example' is not defined