In [37]:
import pandas as pd

# Dosyayı yükleme
file_path = 'C:/Users/FurkanBulut/Desktop/dataa.xlsx'
data = pd.read_excel(file_path) 

# İlk beş satırı göster
data.head()
data.describe()

,No,TP DK USD S YTL,TP DK EUR S YTL,TP DK GBP S YTL,TP DK SEK S YTL,TP DK CHF S YTL,TP DK CAD S YTL,TP DK KWD S YTL,TP DK SAR S YTL
count,4757.000000,4733.000000,4733.000000,4733.000000,4733.000000,4733.000000,4733.000000,4733.000000,4733.000000
mean,2379.000000,4.741321,5.435227,6.440073,0.530649,4.985549,3.757192,15.821462,1.263723
std,1373.371945,5.673079,5.987151,6.860333,0.526817,6.269771,4.182878,18.454100,1.511584
min,1.000000,1.150400,1.557000,2.121500,0.164560,0.994890,1.022500,4.213400,0.306780
25%,1190.000000,1.519300,2.073700,2.559800,0.208670,1.423200,1.396200,5.300100,0.405110
50%,2379.000000,2.179600,2.838500,3.597300,0.312010,2.383200,1.978200,7.695500,0.581150
75%,3568.000000,5.667800,6.309300,7.123900,0.598560,5.715700,4.289400,18.742400,1.511300
max,4757.000000,28.910400,31.656400,36.541100,2.783000,32.902000,21.223600,94.281700,7.708300

In [38]:
data.isnull().sum() #eksik veri kontrolü yaptık

No                  0
Tarih              24
TP DK USD S YTL    24
TP DK EUR S YTL    24
TP DK GBP S YTL    24
TP DK SEK S YTL    24
TP DK CHF S YTL    24
TP DK CAD S YTL    24
TP DK KWD S YTL    24
TP DK SAR S YTL    24
dtype: int64

In [39]:
# Check for missing values
missing_values = data.isnull().sum()

# Remove rows with missing values
data_cleaned = data.dropna()

# Display the number of rows before and after removing missing values
print("Number of rows before removing missing values:", len(data))
print("Number of rows after removing missing values:", len(data_cleaned))
data_cleaned.describe()

Number of rows before removing missing values: 4757
Number of rows after removing missing values: 4733

,No,TP DK USD S YTL,TP DK EUR S YTL,TP DK GBP S YTL,TP DK SEK S YTL,TP DK CHF S YTL,TP DK CAD S YTL,TP DK KWD S YTL,TP DK SAR S YTL
count,4733.000000,4733.000000,4733.000000,4733.000000,4733.000000,4733.000000,4733.000000,4733.000000,4733.000000
mean,2379.241918,4.741321,5.435227,6.440073,0.530649,4.985549,3.757192,15.821462,1.263723
std,1373.114025,5.673079,5.987151,6.860333,0.526817,6.269771,4.182878,18.454100,1.511584
min,1.000000,1.150400,1.557000,2.121500,0.164560,0.994890,1.022500,4.213400,0.306780
25%,1191.000000,1.519300,2.073700,2.559800,0.208670,1.423200,1.396200,5.300100,0.405110
50%,2379.000000,2.179600,2.838500,3.597300,0.312010,2.383200,1.978200,7.695500,0.581150
75%,3568.000000,5.667800,6.309300,7.123900,0.598560,5.715700,4.289400,18.742400,1.511300
max,4757.000000,28.910400,31.656400,36.541100,2.783000,32.902000,21.223600,94.281700,7.708300

In [40]:
print(data_cleaned.columns.tolist())

['No', 'Tarih', 'TP DK USD S YTL', 'TP DK EUR S YTL', 'TP DK GBP S YTL', 'TP DK SEK S YTL', 'TP DK CHF S YTL', 'TP DK CAD S YTL', 'TP DK KWD S YTL', 'TP DK SAR S YTL']

In [41]:
features  = ['No', 'Tarih', 'TP DK USD S YTL', 'TP DK EUR S YTL', 'TP DK GBP S YTL', 'TP DK SEK S YTL', 'TP DK CHF S YTL', 'TP DK CAD S YTL', 'TP DK KWD S YTL']
target  = ['TP DK SAR S YTL']

X = data_cleaned[features]
y = data_cleaned[target]

In [42]:
X.head()

,No,Tarih,TP DK USD S YTL,TP DK EUR S YTL,TP DK GBP S YTL,TP DK SEK S YTL,TP DK CHF S YTL,TP DK CAD S YTL,TP DK KWD S YTL
0,1,03-01-2005,1.3427,1.8321,2.5928,0.20307,1.1872,1.1152,4.5548
1,2,04-01-2005,1.3448,1.8192,2.5695,0.20226,1.1785,1.1147,4.6052
2,3,05-01-2005,1.3492,1.8063,2.5586,0.19989,1.1677,1.1120,4.6202
3,4,06-01-2005,1.3841,1.8337,2.5985,0.20251,1.1807,1.1277,4.7401
4,5,07-01-2005,1.4068,1.8549,2.6347,0.20532,1.1961,1.1433,4.8175

In [43]:
y.head()

   TP DK SAR S YTL
0          0.35800
1          0.35858
2          0.35977
3          0.36907
4          0.37513

In [44]:
# Accessing i-th record of inputs and related output
i = 4512  # Replace this with the desired record index

# Input features (columns 2 to 8)
inputs = data_cleaned.iloc[i, 2:9]
print(f"Input features for record {i}:\n{inputs}")

# Output (last column)
output = data_cleaned.iloc[i, -1]
print(f"Output for record {i}:\n{output}")

Input features for record 4512:
TP DK USD S YTL    18.7919
TP DK EUR S YTL    20.1891
TP DK GBP S YTL    22.8546
TP DK SEK S YTL     1.8062
TP DK CHF S YTL    20.4071
TP DK CAD S YTL    14.0163
TP DK KWD S YTL    61.7725
Name: 4535, dtype: object
Output for record 4512:
5.0035

In [45]:
import numpy as np 
import pandas as pd
shuffled_indices = np.random.permutation(len(data_cleaned))
df_shuffled = data_cleaned.iloc[shuffled_indices]

# Eğitim ve test verisi oranı
train_ratio = 0.8  # Eğitim verisinin oranı

# Veriyi iki alt kümeye ayır
train_size = int(len(df_shuffled) * train_ratio)
train_data = df_shuffled.iloc[:train_size]
test_data = df_shuffled.iloc[train_size:]

# Eğitim verisi
print("Eğitim Verisi:")
print(train_data.head())

# Test verisi
print("\nTest Verisi:")
print(test_data.head())

Eğitim Verisi:
        No       Tarih  TP DK USD S YTL  TP DK EUR S YTL  TP DK GBP S YTL  \
4667  4668  25-07-2023          26.9697          29.9184          34.6949
4624  4625  22-05-2023          19.7963          21.4159          24.6771
3502  3503  29-11-2018           5.2580           5.9340           6.7259
2165  2166  01-08-2013           1.9343           2.5654           2.9444
2982  2983  08-11-2016           3.1589           3.4941           3.9266

      TP DK SEK S YTL  TP DK CHF S YTL  TP DK CAD S YTL  TP DK KWD S YTL  \
4667          2.60200          31.2114          20.4610          88.3605
4624          1.89580          22.0446          14.7149          64.8093
3502          0.58033           5.2745           3.9535          17.3739
2165          0.29558           2.0876           1.8793           6.8343
2982          0.35228           3.2396           2.3614          10.4961

      TP DK SAR S YTL
4667          7.19040
4624          5.27860
3502          1.40140
2165          0.51578
2982          0.84226

Test Verisi:
        No       Tarih  TP DK USD S YTL  TP DK EUR S YTL  TP DK GBP S YTL  \
1473  1474  05-11-2010           1.3951           1.9855           2.2603
3388  3389  13-06-2018           4.5573           5.3723           6.1107
29      30  15-02-2005           1.3152           1.7059           2.4789
3656  3657  11-07-2019           5.7485           6.4485           7.1806
2230  2231  12-11-2013           2.0395           2.7311           3.2682

      TP DK SEK S YTL  TP DK CHF S YTL  TP DK CAD S YTL  TP DK KWD S YTL  \
1473          0.21407           1.4418           1.3908           4.9861
3388          0.52959           4.6384           3.5107          15.1706
29            0.18735           1.0975           1.0683           4.5040
3656          0.60963           5.8088           4.3852          18.9853
2230          0.31121           2.2208           1.9503           7.2272

      TP DK SAR S YTL
1473          0.37202
3388          1.21520
29            0.35069
3656          1.53280
2230          0.54382

Phase 2

In [31]:
"""import numpy as np
import pandas as pd

def load_data(file_path):
    data = pd.read_excel(file_path)
    return data

def check_missing_values(data):
    missing_values = data.isnull().sum()
    print("Eksik veri sayıları:")
    print(missing_values)
    return data.dropna()

def shuffle_data(data):
    shuffled_indices = np.random.permutation(len(data))
    return data.iloc[shuffled_indices]

file_path = 'C:/Users/FurkanBulut/Desktop/dataa.xlsx'
data = load_data(file_path)
data_cleaned = check_missing_values(data)
df_shuffled = shuffle_data(data_cleaned)

# Diğer işlemler..."""

Eksik veri sayıları:
No                  0
Tarih              24
TP DK USD S YTL    24
TP DK EUR S YTL    24
TP DK GBP S YTL    24
TP DK SEK S YTL    24
TP DK CHF S YTL    24
TP DK CAD S YTL    24
TP DK KWD S YTL    24
TP DK SAR S YTL    24
dtype: int64

In [32]:
"""import numpy as np

# Define the Cost/Loss function (Mean Squared Error)
def cost_function(y_true, y_pred):
    m = len(y_true)
    cost = (1/(2*m)) * np.sum((y_pred - y_true)**2)
    return cost

# Define the Derivative of Cost/Loss function
def cost_derivative(y_true, y_pred):
    m = len(y_true)
    derivative = (1/m) * (y_pred - y_true)
    return derivative

# Define the Optimizer function (Gradient Descent)
def optimizer(theta, learning_rate, derivative):
    updated_theta = theta - learning_rate * derivative
    return updated_theta

# Define the Linear Regression Model
def linear_regression_model(X, y, epochs, learning_rate):
    m, n = X.shape
    X = np.hstack((np.ones((m, 1)), X))  # Adding a column of ones for bias term
    theta = np.zeros((n+1, 1))  # Initialize theta parameters with zeros
    
    for epoch in range(epochs):
        # Forward pass
        y_pred = np.dot(X, theta)
        
        # Calculate cost
        cost = cost_function(y, y_pred)
        
        # Backward pass (compute the derivative of the cost function)
        derivative = np.dot(X.T, cost_derivative(y, y_pred))
        
        # Update parameters using the optimizer
        theta = optimizer(theta, learning_rate, derivative)
        
        # Print cost every 100 epochs
        if epoch % 100 == 0:
            print(f"Epoch {epoch}, Cost: {cost}")
    
    return theta

# Example usage with your data (assuming X is the input features and y is the output)
# Replace X and y with your actual data
X = np.array(df_shuffled.iloc[:, 2:-1])  # Assuming you want to use features 2 to second-to-last for X
y = np.array(df_shuffled.iloc[:, -1])  # Assuming the last column is your output

# Hyperparameters
epochs = 1000
learning_rate = 0.01

# Train the model
trained_theta = linear_regression_model(X, y, epochs, learning_rate)

# Print the trained parameters
print("Trained Parameters (Theta):")
print(trained_theta)"""

Epoch 0, Cost: 9185.329047320616
Epoch 100, Cost: 5.241859352669095e+183

c:\Users\FurkanBulut\anaconda3\envs\ML\lib\site-packages\numpy\core\fromnumeric.py:88: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\FurkanBulut\AppData\Local\Temp\ipykernel_15620\1968922796.py:6: RuntimeWarning: overflow encountered in square
  cost = (1/(2*m)) * np.sum((y_pred - y_true)**2)

Epoch 200, Cost: inf
Epoch 300, Cost: inf

C:\Users\FurkanBulut\AppData\Local\Temp\ipykernel_15620\1968922796.py:17: RuntimeWarning: invalid value encountered in subtract
  updated_theta = theta - learning_rate * derivative

Epoch 400, Cost: nan
Epoch 500, Cost: nan
Epoch 600, Cost: nan
Epoch 700, Cost: nan
Epoch 800, Cost: nan
Epoch 900, Cost: nan
Trained Parameters (Theta):
[[nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]
 ...
 [nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]]

In [46]:
"""import numpy as np

# Model parametreleri
theta0 = 0
theta1 = 0

# Hiperparametreler
learning_rate = 0.01
epochs = 1000

# Cost/Loss fonksiyonu
def compute_cost(X, y, theta0, theta1):
    m = len(y)
    predictions = theta0 + theta1 * X
    cost = (1/(2*m)) * np.sum(np.square(predictions - y))
    return cost

# Cost/Loss fonksiyonunun türetilmesi
def compute_cost_derivative(X, y, theta0, theta1):
    m = len(y)
    predictions = theta0 + theta1 * X
    dtheta0 = (1/m) * np.sum(predictions - y)
    dtheta1 = (1/m) * np.sum((predictions - y) * X)
    return dtheta0, dtheta1

# Optimizasyon fonksiyonu
def gradient_descent(X, y, theta0, theta1, learning_rate, epochs):
    m = len(y)
    for epoch in range(epochs):
        cost = compute_cost(X, y, theta0, theta1)
        dtheta0, dtheta1 = compute_cost_derivative(X, y, theta0, theta1)
        theta0 = theta0 - learning_rate * dtheta0
        theta1 = theta1 - learning_rate * dtheta1

        if epoch % 100 == 0:
            print(f'Epoch {epoch}, Cost: {cost}')

    return theta0, theta1

# Modeli eğit
theta0, theta1 = gradient_descent(X, y, theta0, theta1, learning_rate, epochs)

# Eğitilmiş modeli kullanarak tahmin yap
def predict(x):
    return theta0 + theta1 * x

# Örnek kullanım
sample_input = 3.0  # Örneğin, 'TP DK USD S YTL' sütunundan bir değer
predicted_output = predict(sample_input)
print(f'Tahmin edilen çıktı: {predicted_output}')
"""

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
"""# calculate the mse without using any python library
def mse(y_true, y_pred):
    m = len(y_true)
    squared_error = (y_true - y_pred)**2
    return (1/m) * np.sum(squared_error)
# and use it to calculate the mse of the model
y_pred = predict(X)
print(f"Mean Squared Error: {mse(y, y_pred)}")"""

Mean Squared Error: 2.4960100172066e-06

In [47]:
import pandas as pd
import numpy as np

# Dosyayı yükleme
file_path = 'C:/Users/FurkanBulut/Desktop/dataa.xlsx'
data = pd.read_excel(file_path) 

# İlk beş satırı göster
data.head()

# Eksik veri kontrolü yapma
missing_values = data.isnull().sum()
print("Missing values:\n", missing_values)

# Eksik verileri içeren satırları kaldırma
data_cleaned = data.dropna()

# Eksik verileri kaldırdıktan sonra veri setinin istatistiksel özetini al
data_cleaned.describe()

# Kolon isimlerini yazdırma
print("Column names:", data_cleaned.columns.tolist())

# Özellikler (features) ve hedef değişken (target) belirleme
features = ['No', 'Tarih', 'TP DK USD S YTL', 'TP DK EUR S YTL', 'TP DK GBP S YTL', 'TP DK SEK S YTL', 'TP DK CHF S YTL', 'TP DK CAD S YTL', 'TP DK KWD S YTL']
target = ['TP DK SAR S YTL']

X = data_cleaned[features]
y = data_cleaned[target]

# Veriyi karıştırma
shuffled_indices = np.random.permutation(len(data_cleaned))
df_shuffled = data_cleaned.iloc[shuffled_indices]

# Eğitim ve test verisi oranı
train_ratio = 0.8  # Eğitim verisinin oranı

# Veriyi iki alt kümeye ayır
train_size = int(len(df_shuffled) * train_ratio)
train_data = df_shuffled.iloc[:train_size]
test_data = df_shuffled.iloc[train_size:]

# Eğitim ve test verilerini bağımsız ve bağımlı değişkenlere ayırma
X_train, y_train = train_data[features], train_data[target]
X_test, y_test = test_data[features], test_data[target]

# Eğitim verisi
print("\nEğitim Verisi:")
print(X_train.head())

# Test verisi
print("\nTest Verisi:")
print(X_test.head())

Missing values:
 No                  0
Tarih              24
TP DK USD S YTL    24
TP DK EUR S YTL    24
TP DK GBP S YTL    24
TP DK SEK S YTL    24
TP DK CHF S YTL    24
TP DK CAD S YTL    24
TP DK KWD S YTL    24
TP DK SAR S YTL    24
dtype: int64
Column names: ['No', 'Tarih', 'TP DK USD S YTL', 'TP DK EUR S YTL', 'TP DK GBP S YTL', 'TP DK SEK S YTL', 'TP DK CHF S YTL', 'TP DK CAD S YTL', 'TP DK KWD S YTL', 'TP DK SAR S YTL']

Eğitim Verisi:
        No       Tarih  TP DK USD S YTL  TP DK EUR S YTL  TP DK GBP S YTL  \
4260  4261  13-12-2021          13.8596          15.6375          18.3338
15      16  26-01-2005           1.3334           1.7402           2.5032
4383  4384  08-06-2022          16.7385          17.8730          20.9409
2390  2391  30-06-2014           2.1272           2.8971           3.6282
4639  4640  12-06-2023          23.4736          25.2777          29.5102

      TP DK SEK S YTL  TP DK CHF S YTL  TP DK CAD S YTL  TP DK KWD S YTL
4260          1.53460          15.0290          10.9170          46.0105
15            0.19191           1.1266           1.0888           4.5664
4383          1.70950          17.1925          13.3062          54.9275
2390          0.31633           2.3874           1.9923           7.5889
4639          2.17680          26.1211          17.6256          76.8131

Test Verisi:
        No       Tarih  TP DK USD S YTL  TP DK EUR S YTL  TP DK GBP S YTL  \
2827  2828  23-03-2016           2.8775           3.2280           4.1173
1104  1105  21-05-2009           1.5346           2.0949           2.3786
4371  4372  23-05-2022          15.9536          16.8786          19.9406
2004  2005  14-12-2012           1.7791           2.3247           2.8700
3264  3265  18-12-2017           3.8660           4.5593           5.1990

      TP DK SEK S YTL  TP DK CHF S YTL  TP DK CAD S YTL  TP DK KWD S YTL
2827          0.35035           2.9708           2.2027           9.6061
1104          0.19984           1.3848           1.3296           5.2990
4371          1.61560          16.4495          12.4897          52.3811
2004          0.26667           1.9219           1.8093           6.3201
3264          0.46049           3.9207           3.0347          12.8728

In [49]:
import numpy as np

# Veriyi oluşturma
X_train_np = X_train[['TP DK USD S YTL', 'TP DK EUR S YTL', 'TP DK GBP S YTL', 'TP DK SEK S YTL', 'TP DK CHF S YTL', 'TP DK CAD S YTL', 'TP DK KWD S YTL']].to_numpy()
y_train_np = y_train.to_numpy()

# Model parametrelerini başlatma
np.random.seed(0)
weights = np.random.rand(X_train_np.shape[1], 1)  # Ağırlıkları sütun vektörüne çevir
bias = np.random.rand()

# Hyperparameters
learning_rate = 0.01
epochs = 1000

# Eğitim
for epoch in range(epochs):
    # Tahmin hesaplama
    predictions = np.dot(X_train_np, weights) + bias
    
    # Hata hesaplama
    errors = predictions - y_train_np
    
    # Cost (Maliyet) hesaplama
    cost = np.mean(errors**2) / 2.0
    
    # Gradyan Hesaplama
    gradient_weights = np.dot(X_train_np.T, errors) / len(y_train_np)
    gradient_bias = np.mean(errors)
    
    # Parametre Güncelleme
    weights -= learning_rate * gradient_weights
    bias -= learning_rate * gradient_bias
    
    # Her 100 iterasyonda bir maliyeti yazdırma
    if epoch % 100 == 0:
        print(f'Epoch {epoch}, Cost: {cost}')

# Eğitilmiş modelin parametreleri
print(f'Trained Weights:\n{weights}')
print(f'Trained Bias: {bias}')

Epoch 0, Cost: 524.9148782587981
Epoch 100, Cost: 1.494275092338044e+184
Epoch 200, Cost: inf
Epoch 300, Cost: inf
Epoch 400, Cost: nan
Epoch 500, Cost: nan
Epoch 600, Cost: nan
Epoch 700, Cost: nan
Epoch 800, Cost: nan
Epoch 900, Cost: nan
Trained Weights:
[[nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]
 [nan]]
Trained Bias: nan

c:\Users\FurkanBulut\anaconda3\envs\ML\lib\site-packages\numpy\core\_methods.py:118: RuntimeWarning: overflow encountered in reduce
  ret = umr_sum(arr, axis, dtype, out, keepdims, where=where)
C:\Users\FurkanBulut\AppData\Local\Temp\ipykernel_15620\134035265.py:25: RuntimeWarning: overflow encountered in square
  cost = np.mean(errors**2) / 2.0
C:\Users\FurkanBulut\AppData\Local\Temp\ipykernel_15620\134035265.py:32: RuntimeWarning: invalid value encountered in subtract
  weights -= learning_rate * gradient_weights

In [50]:
# Veriyi standartlaştırma (z-score normalization)
mean = np.mean(X_train_np, axis=0)
std = np.std(X_train_np, axis=0)
X_train_np = (X_train_np - mean) / std

# Model parametrelerini başlatma
np.random.seed(0)
weights = np.random.rand(X_train_np.shape[1], 1)
bias = np.random.rand()

# Hyperparameters
learning_rate = 0.01
epochs = 1000

# Eğitim
for epoch in range(epochs):
    # Tahmin hesaplama
    predictions = np.dot(X_train_np, weights) + bias
    
    # Hata hesaplama
    errors = predictions - y_train_np
    
    # Cost (Maliyet) hesaplama
    cost = np.mean(errors**2) / 2.0
    
    # Gradyan Hesaplama
    gradient_weights = np.dot(X_train_np.T, errors) / len(y_train_np)
    gradient_bias = np.mean(errors)
    
    # Parametre Güncelleme
    weights -= learning_rate * gradient_weights
    bias -= learning_rate * gradient_bias
    
    # Her 100 iterasyonda bir maliyeti yazdırma
    if epoch % 100 == 0:
        print(f'Epoch {epoch}, Cost: {cost}')

# Eğitilmiş modelin parametreleri
print(f'Trained Weights:\n{weights}')
print(f'Trained Bias: {bias}')

Epoch 0, Cost: 2.9375905784426406
Epoch 100, Cost: 0.011462557810274375
Epoch 200, Cost: 0.003130862848782572
Epoch 300, Cost: 0.00200114955637146
Epoch 400, Cost: 0.001836294982845001
Epoch 500, Cost: 0.0018008453744684807
Epoch 600, Cost: 0.0017828655238352675
Epoch 700, Cost: 0.0017673570176979002
Epoch 800, Cost: 0.001752309017483152
Epoch 900, Cost: 0.0017374507700056423
Trained Weights:
[[0.22826755]
 [0.36402956]
 [0.24985745]
 [0.17899275]
 [0.08517724]
 [0.3052664 ]
 [0.11194294]]
Trained Bias: 1.2703253867738356

In [51]:
def calculate_mse(X, y, weights, bias):
    predictions = np.dot(X, weights) + bias
    errors = predictions - y
    mse = np.mean(errors**2)
    return mse

# Eğitim verisi üzerinde modelin MSE değerini hesapla
train_mse = calculate_mse(X_train_np, y_train_np, weights, bias)
print(f'Training MSE: {train_mse}')

# Test verisi üzerinde modelin MSE değerini hesapla
X_test_np = X_test[['TP DK USD S YTL', 'TP DK EUR S YTL', 'TP DK GBP S YTL', 'TP DK SEK S YTL', 'TP DK CHF S YTL', 'TP DK CAD S YTL', 'TP DK KWD S YTL']].to_numpy()
y_test_np = y_test.to_numpy()
test_mse = calculate_mse(X_test_np, y_test_np, weights, bias)
print(f'Test MSE: {test_mse}')

Training MSE: 0.003445489344713503
Test MSE: 118.14013157412936

In [52]:
def train_linear_regression(X, y, learning_rate=0.01, epochs=1000):
    np.random.seed(0)
    weights = np.random.rand(X.shape[1], 1)
    bias = np.random.rand()

    for epoch in range(epochs):
        predictions = np.dot(X, weights) + bias
        errors = predictions - y

        # MSE'ye göre gradyan hesaplama
        gradient_weights = np.dot(X.T, errors) / len(y)
        gradient_bias = np.mean(errors)

        # Parametre Güncelleme
        weights -= learning_rate * gradient_weights
        bias -= learning_rate * gradient_bias

        # Her 100 iterasyonda bir maliyeti yazdırma
        if epoch % 100 == 0:
            mse = calculate_mse(X, y, weights, bias)
            print(f'Epoch {epoch}, Cost: {mse}')

    return weights, bias

# Daha düşük öğrenme oranı ve daha uzun eğitim süresi
new_learning_rate = 0.001
new_epochs = 5000
trained_weights, trained_bias = train_linear_regression(X_train_np, y_train_np, learning_rate=new_learning_rate, epochs=new_epochs)

# Eğitilmiş modelin parametreleri
print(f'Trained Weights:\n{trained_weights}')
print(f'Trained Bias: {trained_bias}')

# Eğitim ve test MSE değerleri
train_mse = calculate_mse(X_train_np, y_train_np, trained_weights, trained_bias)
test_mse = calculate_mse(X_test_np, y_test_np, trained_weights, trained_bias)

print(f'Training MSE: {train_mse}')
print(f'Test MSE: {test_mse}')

Epoch 0, Cost: 5.795106072240681
Epoch 100, Cost: 1.509913792729562
Epoch 200, Cost: 0.44121245332073206
Epoch 300, Cost: 0.1662263886676174
Epoch 400, Cost: 0.08864163782820907
Epoch 500, Cost: 0.06140866879421096
Epoch 600, Cost: 0.04803663349442916
Epoch 700, Cost: 0.03928340395634166
Epoch 800, Cost: 0.032656653382187324
Epoch 900, Cost: 0.027363807494128152
Epoch 1000, Cost: 0.02306288538217575
Epoch 1100, Cost: 0.019549389640076294
Epoch 1200, Cost: 0.01667446753567494
Epoch 1300, Cost: 0.014320825066707751
Epoch 1400, Cost: 0.012393562072552686
Epoch 1500, Cost: 0.010815264684662346
Epoch 1600, Cost: 0.009522626014568783
Epoch 1700, Cost: 0.008463836646271945
Epoch 1800, Cost: 0.007596486967094831
Epoch 1900, Cost: 0.006885859406362353
Epoch 2000, Cost: 0.006303532713196087
Epoch 2100, Cost: 0.005826239924304488
Epoch 2200, Cost: 0.005434933581847512
Epoch 2300, Cost: 0.00511402050986031
Epoch 2400, Cost: 0.004850735373407432
Epoch 2500, Cost: 0.004634627845617842
Epoch 2600, Cost: 0.004457142778094786
Epoch 2700, Cost: 0.004311276508040149
Epoch 2800, Cost: 0.004191295494516034
Epoch 2900, Cost: 0.004092505980356343
Epoch 3000, Cost: 0.004011065426163003
Epoch 3100, Cost: 0.003943828140967638
Epoch 3200, Cost: 0.0038882189079539617
Epoch 3300, Cost: 0.0038421295283028634
Epoch 3400, Cost: 0.003803834126932879
Epoch 3500, Cost: 0.0037719198176433474
Epoch 3600, Cost: 0.0037452299422150747
Epoch 3700, Cost: 0.0037228176031667407
Epoch 3800, Cost: 0.0037039076234000566
Epoch 3900, Cost: 0.0036878654045080224
Epoch 4000, Cost: 0.0036741714326652417
Epoch 4100, Cost: 0.0036624004079049786
Epoch 4200, Cost: 0.0036522041583262757
Epoch 4300, Cost: 0.0036432976528295233
Epoch 4400, Cost: 0.0036354475504588534
Epoch 4500, Cost: 0.003628462826334697
Epoch 4600, Cost: 0.0036221870975844243
Epoch 4700, Cost: 0.0036164923409744334
Epoch 4800, Cost: 0.0036112737498570488
Epoch 4900, Cost: 0.003606445523816111
Trained Weights:
[[0.21754735]
 [0.3684149 ]
 [0.25517409]
 [0.19086207]
 [0.08336706]
 [0.30447864]
 [0.1037062 ]]
Trained Bias: 1.267797327244138
Training MSE: 0.003601981116422309
Test MSE: 113.8671680267139